<nav>
<a class="logo" href="/">
  <ul class="icon">
    <li><i class="fas fa-paint-brush"></i></li>
  </ul>
    
  <p>Asian Arts</p>
  </a>
<ul class="menu">
  <li><a href='/'>Home</a></li>
  <li><a href='/subscribe'>Subscribe</a></li>
  <li><a href='/gallery'>Gallery</a></li>
</ul>
</nav>