@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
    background-color: rgb(255, 251, 241);
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Kreon', serif;   
}