form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
}

legend {
    font-size: 2.8em;
}

.fieldset {
    padding: 20px;
    width: 50vw;
    color: #000;
}

input {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40vw;
    
    flex: 1;

    border: 1px solid black;
}

#username {
    margin-left: 80px;
}

#password {
    margin-left: 82px;
}

/* submit button */
.btn {
    /* position to center */
    display: flex;
    justify-content: center;
}

button {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid black;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #000;
    color: #fff;
}

/* responsive */
@media screen and (max-width: 750px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 79vh;
    }
    
    .fieldset {
        
        padding: 0;
        margin: auto;
    }

    legend {
        font-size: 2em;
    }

    #confirm {
        padding: 0;
        height: 32px;
    }

    .text-field p {
        margin: 2rem;
    }
}

@media screen and (max-width: 430px) {
    
    
    label {
        font-size: 0.8em;
    }

    #confirm {
        padding: 0;
        height: 32px;
        margin-left: 80px; 
        margin-top: 10px;
    }
      
    .fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-basis: 40%;
        padding: 0;
        margin: 0;
    }

    footer {
        width: 100vw;
        padding-bottom: 1rem;
        text-align: center;
    }
}